@charset "utf-8";
.breadcrumb {
  list-style-type: none;
  margin-left: 8px;
  padding: 0px;
  display: flex;
  position: absolute;
  top: 105px;
  left: 90px;
}

.breadcrumb li::after {
  content: ">";
  margin: 0 10px;
}


.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb a {
  text-decoration: none;
  color: black;
}

.top h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  margin-right: 85px;
  margin-left: 85px;
  margin-bottom: 2em;
  border: 4px double black;
  border-radius: 15px;
  text-align: center;
  color: black;
  background: #ccc;
}

.top p {
  border-bottom: dashed 2px #238264;
  margin-top: 50px;
}


body {
  background-color:beige
}

.whole {
 margin: 100px;
}

.whole h1 {
  border:solid  1px sienna;
  background-color: sienna;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: white;
}

p {
  text-indent: 1em;
  text-align: justify;
}

